<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="finalLay.Properties.Settings.pos_cafeConnectionString"
            connectionString="Data Source=DESKTOP-U2B1AN9\BOYZ2019;Initial Catalog=pos_cafe;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>